<%= form_with model:post,local:true do |f| %>

  <div class="row pb-3">
    <%= f.label :ブランド, class: "col-sm-2 control-label font-weight-bold" %>
      <div class="col-sm-10">
        <%= f.collection_select :brand_id, Brand.all, :id, :name,{prompt: "選択してください"},class: "form-control text-muted" %>
      </div>
  </div>
  <div class="row pb-3">
    <%= f.label :商品名, class: "col-sm-2 control-label font-weight-bold" %>
      <div class="col-sm-10">
        <%= f.collection_select :item_id, Item.all, :id, :name,{prompt: "選択してください"},class: "form-control text-muted" %>
      </div>
  </div>

  <%= f.attachment_field :image %>

  <div class="row pb-3">
    <%= f.label :タイトル, class: "col-sm-2 control-label font-weight-bold" %>
      <div class="col-sm-10">
        <%= f.text_field :title, class: "form-control" %>
      </div>
  </div>
  <div class="row pb-3">
    <%= f.label :メリット, class: "col-sm-2 control-label font-weight-bold" %>
      <div class="col-sm-10">
        <%= f.text_field :merit, class: "form-control" %>
      </div>
  </div>
  <div class="row pb-3">
    <%= f.label :デメリット, class: "col-sm-2 control-label font-weight-bold" %>
      <div class="col-sm-10">
        <%= f.text_field :demerit, class: "form-control" %>
      </div>
  </div>
  <div class="row pb-3">
    <%= f.label :使い心地, class: "col-sm-2 control-label font-weight-bold" %>
      <div class="col-sm-10">
        <%= f.text_field :usability, class: "form-control" %>
      </div>
  </div>
  <div class="row pb-3">
    <%= f.label :コスパ, class: "col-sm-2 control-label font-weight-bold" %>
      <div class="col-sm-10">
        <%= f.text_field :cost_performance, class: "form-control" %>
      </div>
  </div>
  <div class="row pb-3">
    <%= f.label :商品のパターン（色）, class: "col-sm-2 control-label font-weight-bold" %>
      <div class="col-sm-10">
        <%= f.text_field :pattern, class: "form-control" %>
      </div>
  </div>
  <div class="row pb-3">
    <%= f.label :もっと伝えたい！, class: "col-sm-2 control-label font-weight-bold" %>
      <div class="col-sm-10">
        <%= f.text_field :other, class: "form-control" %>
      </div>
  </div>
  <%= f.submit %>
<% end %>