<%= render 'layouts/public_header' %>
<div class="container col-sm-8">
  <div class="row mt-4 mb-4">
    <%= form_with url: sort_path, method: :get,local:true do |f| %>
      <%= f.select :keyword, [['投稿が新しい順', 'new'],['投稿が古い順', 'old'],['いいねが多い順', 'likes']]%>
      <%= f.submit "並べ替え" %>
    <% end %>
  </div>

  <div class="row">
    <table class='table table-hover table-inverse'>
      <% if @posts.present? %>
        <%= render 'public/posts/posts',posts:@posts ,post:@post %>
      <% end %>
    </table>
  </div>
</div>