<%= render 'layouts/public_header' %>
<%= form_with model:@post, url: sort_path, method: :get,local:true do |f| %>
  <%= f.select :keyword, [['投稿が新しい順', 'new'],['投稿が古い順', 'old'],['いいねが多い順', 'likes']]%>
  <%= f.submit "並べ替え" %>
<% end %>
<table>
  <%= render 'public/posts/posts',posts:@sort_posts ,post:@post %>
</table>