<%= render 'layouts/admin_header' %>
<!--検索フォーム-->
<%= form_with url: admin_search_path,method: :get,local: true do |f| %>
  <%= f.text_field :word %>
  <%= f.select :range ,options_for_select([['---選択してください---',''],['ブランド','1'],['商品','2']]) %>
  <%= submit_tag '検索' %>
 <% end %>

<!--検索結果表示-->
 <table class='table table-hover table-inverse'>
  <% if @range == '1' %>
    <h2>ブランド検索結果 "<%= @word %>"</h2>
      <%= render 'admin/brands/index',brands: @records %>

  <% else @range == "2" %>
  <h2>商品検索結果 "<%= @word %>"</h2>
    <%= render 'admin/items/index',items: @records %>
 <% end %>
</table>