<thead>
  <tr>
    <th>商品画像</th>
    <th>商品名</th>
    <th>タイトル</th>
    <th>レビュー</th>
    <th>ユーザー</th>
  </tr>
</thead>

<% favorite.each do |post| %>
  <tr>
    <td>
      <%= attachment_image_tag post.item, :item_image, format: 'jpeg', fallback: "no_image.jpg", size: "100x100" %>
    </td>
    <td>
      <%= link_to item_path(post.item) do %>
        <%= post.item.name %>
      <% end %>
    </td>
    <td>
      <%= link_to post_path(post) do %>
        <%= post.title %>
      <% end %>
    </td>
    <td>
      <!--星評価-->
      <div id="star-rate-<%= post.id %>"></div>
      <script>
      // 星部分を一度削除
      $('#star-rate-<%= post.id %>').empty();

        $('#star-rate-<%= post.id %>').raty({
          size :36,
          starOff: '<%= asset_path('star-off.png')%>',
          starOn: '<%= asset_path('star-on.png')%>',
          starHalf: '<%= asset_path('star-half.png')%>',
          half: true,
          readOnly: true,
          score: <%= post.rate %>,
        });
      </script>
      <!--星評価終わり-->
      <%= post.rate %>
    </td>

    <td>
      <%= link_to member_path(post.member) do %>
        <%= post.member.name %>
      <% end %>
    </td>
  </tr>
<% end %>