<%= render 'layouts/public_header' %>
会員詳細ページ（マイページ）
<table>
  <tbody>
    <tr>
      <td><%= attachment_image_tag @member, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "100x100" %></td>
      <td>
        <% if @member != current_member %>
          <% if @member.is_followed_by?(current_member) %>
            <%=link_to member_relationships_path(@member), method: :delete do %>
              <button type="button" class="btn btn btn-danger">フォロー中</button>
            <% end %>
          <% else %>
            <%=link_to member_relationships_path(@member), method: :post do %>
              <button type="button" class="btn btn btn-primary">フォロー</button>
            <% end %>
          <% end %>
        <% end %>

        <% if current_member == @member %>
          <%= link_to "編集する",edit_member_path(@member) %>
        <% end %>
      </td>

      <% if current_member == @member %>
        <td><%=link_to"いいねした投稿",post_favorites_member_path(@member) %></td>
        <td><%=link_to"いいねした商品",item_favorites_member_path(@member) %></td>
      <% end %>
    </tr>
    <tr>
      <td><%= @member.name %></td>
    </tr>
    <tr>
      <td><%= @member.introduction %></td>
    </tr>
    <tr>
      <td>フォロー:<%= link_to @member.followings.count,followings_member_path(@member) %></td>
      <td>フォロワー:<%= link_to @member.followers.count,followers_member_path(@member) %></td>
    </tr>

    <%= render 'public/posts/posts',posts:@member.posts, post:@post %>

  </tbody>
</table>