<%= render 'layouts/admin_header' %>
<div class="container">
  <div id="notice"><%= flash[:notice] %></div>

  <div class="row mt-5">
    <div class="col">
       <%= link_to "商品一覧", admin_items_path,class: "btn btn-light btn-block" %>
    </div>
    <div class="col">
      <%= link_to "商品登録", new_admin_item_path,class: "btn btn-info btn-block" %>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <%= link_to "ブランド", admin_brands_path,class: "btn btn-light btn-block" %>
    </div>
    <div class="col">
      <%= link_to "ブランド登録", new_admin_brand_path,class: "btn btn-info btn-block" %>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <%= link_to "カテゴリー", admin_categories_path,class: "btn btn-light btn-block" %>
    </div>
    <div class="col">
      <%= link_to "カテゴリー登録", new_admin_category_path,class: "btn btn-info btn-block" %>
    </div>
  </div>
</div>