<%= render 'layouts/public_header' %>
商品詳細
<div class="container">
  <div class="row">
    <%= link_to brand_path(@item.brand) do %>
      <%= @item.brand.name %>
    <% end %>

    <%= @item.name %>
  </div>
  <div class="row">
    <%= attachment_image_tag @item, :item_image, format: 'jpeg', fallback: "no_image.jpg", size: "200x200" %>
    <p>口コミ評価</p>

  </div>
  <div class="row">
    <div id ="favorite_buttons_<%= @item.id %>">
      <%= render 'public/item_favorites/favorite',item:@item %>
    </div>
  </div>

  <table>
    <%= render 'public/posts/posts',posts:@item.posts ,post:@post %>
  </table>
</div>