<%= render 'layouts/public_header' %>
商品詳細
<div class="container">
  <div class="row">
    <%= link_to brand_path(@item.brand) do %>
      <%= @item.brand.name %>
    <% end %>

    <%= @item.name %>
  </div>
  <div class="row">
    <%= attachment_image_tag @item, :item_image, format: 'jpeg', fallback: "no_image.jpg", size: "200x200" %>
    <p>口コミ評価</p>

    口コミ<%= @item.posts.count %>件

    <!--星評価-->
    <div id="average-star-rating-<%= @item.id %>"></div>
     <script>
      $('#average-star-rating-<%= @item.id %>').raty({
        size: 36,
        starOff: '<%= asset_path('star-off.png')%>',
        starOn: '<%= asset_path('star-on.png')%>',
        starHalf: '<%= asset_path('star-half.png')%>',
        half: true,
        readOnly: true,
        score: <%= @item.posts.average(:rate).to_f.round(1) %>,
      });
      </script>
    <!--星評価終わり-->

    <%= @item.posts.average(:rate).to_f.round(1) %>
  </div>
  <div class="row">
    <%= form_with url: item_sort_item_post_path(@item.id), method: :get,local:true do |f| %>
      <%= f.select :keyword, [['投稿が新しい順', 'new'],['投稿が古い順', 'old'],['いいねが多い順', 'likes']]%>
      <%= f.submit "並べ替え" %>
    <% end %>
  </div>

  <div class="row">
    <div id ="favorite_buttons_<%= @item.id %>">
      <%= render 'public/item_favorites/favorite',item:@item %>
    </div>
  </div>

  <table>
    <!--データがあるか調べる-->
    <% if @posts.present? %>
      <%= render 'public/posts/posts',posts:@posts ,post:@post %>
    <% end %>
  </table>
</div>